.Message {
  border-radius: 0.5rem;
  padding-left: 0.5rem; /* text distance from border */
  margin: 1rem; /* messages distance */
  height: 5rem;
    border: 3px solid gray;
    background: lightgray;
    position: relative;
}

.Message:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  width: 0;
  border-top: 20px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
  
  .Message.log {
    color: yellow !important;
  }
  
  .Message .author {
    font-weight: bold;
    color: #888;
    margin: 0 5px 0 0;
  }
  
  .Message.me {
    width: 60%;
    word-wrap: break-word;
    background-color: lightblue;
    color: black;
  }

  .Message.other {
    float: right;
    width: 60%;
    word-wrap: break-word;
    background-color: lightgreen;
    color: black;
  }

  